body {
    font-family: 'Comfortaa', cursive;
    color: #41574d;
    background: #f9fdfe;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    color: #0a4026;
}

img {
    max-width: 100%;
}

.hero-image .container {
    background-image: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: top right;
}

.hero-image .logo-section {
    padding-bottom: 88px;
    padding-top: 92px;
}

.hero-image h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 30px;
    max-width: 600px;
}

.hero-image p {
    font-size: 24px;
}

.sub-title {
    margin-bottom: 95px;
}

.hero-image form {
    margin-bottom: 160px;
}

.hero-image form p {
    color: #ffe76e;
    font-size: 31px;
    line-height: 35px;
    max-width: 300px;
}

.hero-image form input {
    display: block;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 25px;
    padding: 11px;
    outline: none;
    background: none;
    width: 100%;
    max-width: 253px;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #0a4026;
}
input::-moz-placeholder { /* Firefox 19+ */
    color: #0a4026;
}
input:-ms-input-placeholder { /* IE 10+ */
    color: #0a4026;
}
input:-moz-placeholder { /* Firefox 18- */
    color: #0a4026;
}

.hero-image form input[type="submit"] {
    background: #ffe76e;
    font-size: 18px;
    color: #0a4026;
    border-radius: 25px;
    -webkit-box-shadow: 0px 16px 18px -19px rgba(0,0,0,0.75);
    -moz-box-shadow:0px 16px 18px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 16px 18px -19px rgba(0,0,0,0.75);
    cursor: pointer;
    border: none;
    font-weight: bold;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.hero-image form input[type="submit"]:hover {
    opacity: 0.8;
}

.main-content {
    background: #f3f5f6;
}

.main-content .steps {
    padding-bottom: 100px;    
}

.steps-list .row {
    align-items: center;
}

.main-content h2 {
    color: #0a4026;
    text-align: center;
    font-size: 36px;
    padding-top: 100px;
    padding-bottom: 120px;
    font-weight: bold;
}

.main-content .content {
    padding-left: 60px;
    padding-right: 60px;
}

.main-content .content h3 {
    font-weight: bold;    
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    position: relative;
}

.main-content .content h3:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 110px;
    height: 5px;
    background: #ffe76e;
}

.main-content .content p {
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}

.main-content .counter {
    background: #0a4127;
    color: #fff;
    font-size: 63px;
    border-radius: 50%;
    font-weight: bold;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 105px;
    margin-left: auto;
    margin-right: auto;
}

.main-content .counter.active {
    background: #ffe76e;
}

.signup-section {
    background: #ffe76e;
    padding: 60px 0;
}

.signup-section .container {
    max-width: 770px;
}

.signup-section .container h2 {
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-bottom: 46px;
}

.signup-section form input {
    display: block;
    border: none;
    border-bottom: 2px solid #0a4026;
    margin-bottom: 25px;
    padding: 12px;
    outline: none;
    background: none;
    width: 100%;
    max-width: 253px;
    color: #0a4026;
    margin: 0;
}

.signup-section form input[type="submit"] {
    background: none;
    font-size: 18px;
    color: #0a4026;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #0a4026;
    font-weight: bold;
    padding: 9px;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.signup-section form input[type="submit"]:hover {
    opacity: 0.8;
}

@media (max-width: 992px) {    
    .container {
        max-width: 820px;
    }
    .hero-image .container {
       text-align: center;
       max-width: 100%;
    }
    .hero-image .logo-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .hero-image .sub-title {
        margin-bottom: 50px;
    }
    .hero-image .container .row {
        background: rgba(255,255,255,0.8);
    }
    .hero-image .container h1 {
        max-width: 100%;
    }
    .hero-image form {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }
    .hero-image form input {
        border-color: #0a4026;
        max-width: 100%;
    }
    .hero-image form p {
        max-width: 100%;
        color: #0a4026;
    }
    .main-content h2 {
        padding-top: 80px;
        padding-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .steps-list .steps .row > div:nth-child(1) {
        order: 2;
        flex: 2;
    } 
    .steps-list .steps .row > div:nth-child(2) {
        order: 3;
    } 
    .steps-list .steps .row > div:nth-child(3) {
        order: 1;
        flex: 1;
    }    
    .signup-section form {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .signup-section form input {
        max-width: 100%;
        margin-bottom: 15px;
    }
    .signup-section form input[type="submit"] {
        margin-bottom: 0;
        margin-top: 25px;
    }
}

@media (max-width: 600px) {
    .main-content .steps .content {
        padding: 0;
    }
}

@media (max-width: 420px) {
    .steps-list .steps .row > div:nth-child(3) {
        flex: none;
    }  
    .main-content .steps {
        padding-bottom: 50px;
    }
    .main-content h2 {
        padding-top: 60px;
    }
}